:root {
    --X-color: #f5222d;
    --O-color: #2f54eb;
    --ttt-font-family: 'Gochi Hand', cursive;
}

.ttt {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto 0;
    width: fit-content;
}

.ttt-score {
    width: 100%;
    display: flex;
    font-family: 'Open Sans', sans-serif;
}

.ttt-table {
    margin: 20px;
    grid-gap: 10px;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    justify-content: center;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
}

.ttt-table-layer {
    grid-gap: 10px;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    position: absolute;
    pointer-events:none;
}

.ttt-table-layer div div.active {
    visibility: visible;
}

.win-line-horizontal div.active {
    /* animation: win-line-horizontal-appear 0.7s ease-in-out; */
}

.win-line-vertical div.active, .win-line-diagonal div.active {
    /*animation: win-line-vertical-appear 0.7s ease-in-out;*/
}

/* shared properties of win-lines */
.ttt-table-layer div .win-line {
    background-color: transparent;
    border-radius: 10px;
    position: absolute;
    visibility: hidden;
    transition: 1s height;
    transition-timing-function: ease-in;
}

/* horizontal lines */
.win-line-horizontal .win-line {
    width: 80%;
    height: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.win-line-horizontal .win-line:nth-child(1) {
    top: 16.6%;
}

.win-line-horizontal .win-line:nth-child(2) {
    top: 50%;
}

.win-line-horizontal .win-line:nth-child(3) {
    top: 83.3%;
}

/* vertical lines */
.win-line-vertical .win-line {
    width: 10px;
    height: 80%;
    top: 10%;
    transform: translateX(-50%);
}

.win-line-vertical .win-line:nth-child(1) {
    left: 16.6%;
}

.win-line-vertical .win-line:nth-child(2) {
    left: 50%;
}

.win-line-vertical .win-line:nth-child(3) {
    left: 83.3%;
}

/* diagonal lines */
.win-line-diagonal .win-line {
    width: 10px;
    height: 100%;
    left: 50%;
}

.win-line-diagonal .win-line:nth-child(1) {
    transform: rotate(45deg) translate(-50%);
}

.win-line-diagonal .win-line:nth-child(2) {
    transform: rotate(-45deg) translateX(-50%);
}

.cell {
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 160px;
    font-weight: 700;
    box-shadow: 0 20px 27px 10px rgb(0 0 0 / 5%);
    border-radius: 5px;
    background-color: #d3adf7;
    cursor: pointer;
    font-family: var(--ttt-font-family);
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-state {
    width: 80%;
    text-align: center;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.game-state p {
    margin: 0;
}

.X, .page-dark-mode .game-result.X {
    color: var(--X-color);
}

.X div {
    display: flex;
    align-items: center;
    justify-content: center;
    /*margin-top: 15%;*/
}

.O div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
}

.O, .page-dark-mode .game-result.O {
    color: var(--O-color);
}

.ttt-table-layer div div.X {
    background-color: var(--X-color);
}

.ttt-table-layer div div.O {
    background-color: var(--O-color);
}

.page-dark-mode .cell {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 20px 27px 0 rgb(155 155 155 / 5%);
}

.cell:not(.occupied):hover {
    transform: scale(1.01);
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 25%);
}

.occupied {
    cursor: not-allowed;
}

.text-group {
    border-radius: .5rem;
    display: flex;
    /*transition: box-shadow .15s ease,border-color .15s ease;*/
    width: 100%;
    border: 1px gray solid;
    align-items: center;
    flex-grow: 1;
}

.page-dark-mode .text-group {
    border: solid white 1px;
    color: white;
}

.page-dark-mode .ttt-score, .page-dark-mode .game-result {
    color: white;
}

.text {
    font-size: 18px;
    height: fit-content;
    vertical-align: center;
}

.text-header {
    margin: 5px 10px 3px;
    width: 32px;
    height: 32px;
}

.text-body {
    flex-grow: 1;
    text-align: center;
}

.current-turn {
    box-shadow: 0 0 0 3px #e9aede;
    transition: box-shadow .15s ease, border-color .15s ease;
}

.game-result {
    position: absolute;
    width: 100%;
    height: calc(50% + 0.7em);
    bottom: 0;
    font-size: 160px;
    display: flex;
    justify-content: center;
    max-height: 0;
    overflow: hidden;
    /*transition: max-height 0.4s ease-out;*/
    font-family: 'Gochi Hand', cursive;
    z-index: 10;
}

.game-result p {
    margin: 0;
}

@media (max-width: 600px) {
    .cell {
        height: 100px;
        width: 100px;
        font-size: 80px;
    }

    .game-result {
        font-size: 100px;
    }

    .ttt-table, .ttt-table-layer {
        grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(3, 100px);
    }

    .game-state {
        font-size: 18px;
    }
}

@media (max-width: 450px) {
    .cell {
        height: 80px;
        width: 80px;
        font-size: 65px;
    }

    .game-result {
        font-size: 80px;
    }

    .ttt-table, .ttt-table-layer {
        grid-template-columns: repeat(3, 80px);
        grid-template-rows: repeat(3, 80px);
    }

    .game-state {
        font-size: 18px;
    }
}

@media (max-width: 350px) {
    .cell {
        height: 60px;
        width: 60px;
        font-size: 50px;
    }
    .game-result {
        font-size: 60px;
    }

    .ttt-table, .ttt-table-layer {
        grid-template-columns: repeat(3, 60px);
        grid-template-rows: repeat(3, 60px);
    }

    .game-state {
        font-size: 16px;
    }
}

@keyframes win-line-horizontal-appear {
    from {width: 0;}
    to {width: 80%;}
}

@keyframes win-line-vertical-appear {
    from {height: 0;}
    to {height: 80%;}
}

@keyframes slide-up {
    0% {
        max-height: 0;
    }
    99% {
        max-height: 1000px;
    }
    100% {
        max-height: 0;
        display: none;
    }
}
