.header {
    position: fixed;
    height: 64px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 16%);
    top: 0;
    z-index: 1;
}


.light-mode {
    background: #fff;
    color: black;
}

.light-mode h3, .light-mode .tab, .light-mode .menu-icon,
.light-mode .search-icon, .light-mode .escape {
    color: black;
}

.dark-mode {
    background-image: linear-gradient(310deg, #141727, #3a416f);
}

.dark-mode2 {
    background-color: #282D4C;
}

.dark-mode h3, .dark-mode .tab, .dark-mode .menu-icon,
.dark-mode .search-icon, .dark-mode .escape {
    color: white;
}


.title {
    margin-left: 3%;
    cursor: default;
    display: flex;
    align-items: center;
}

.control {
    margin-right: 5%;
    display: flex;
    align-items: center;
}

.button-sign-up {

}

.tabs {
    display: flex;
    height: 64px;
    flex-grow: 1;
    margin-left: 5%;
}

.tab {
    margin: 0 5px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.selected {
    height: 4px;
    position: absolute;
    bottom: 3px;
    border-radius: 10px;
    display: none;
    transition: 0.2s;
}

.dark-mode .selected {
    background-color: #E0E0E0;
}

.light-mode .selected {
    background-color: #393F6C;
}

.tabs-mobile {
    height: fit-content;
    margin: 20px 10%;
    display: flex;
    flex-direction: column;
}

.tab-mobile {
    padding: 15px 10px;
    margin: 0;
    font-weight: 700;
    cursor: pointer;
    border-radius: 10px;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
}

.profile-container .tab-mobile {
    border-radius: 0;
}

.dark-mode2 .tab-mobile {
    color: white;
}

.light-mode .tab-mobile {
    color: #3F4E61;
}

.tab-mobile:not(.sign-out-mobile):hover {
    background-color: rgba(128, 128, 128, 0.1);;
}

.sign-out-mobile:hover {
    background-color: rgba(254, 1, 0, 0.7);
}

.tab-mobile.sign-out-mobile:hover {
    color: white;
}

.menu-icon {
    border: solid gray 1px;
    display: none;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    margin: 1em 10px;

}

.nav-list {
    height: fit-content;
    position: fixed;
    top: 65px;
    transition: max-height 0.2s ease-out;
    display: none;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 16%);
    left: 0;
    right: 0;
    overflow: hidden;
    flex-direction: column;
}

.search-icon {
    display: none;
    border: solid gray 1px;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
}

.search-icon:hover, .menu-icon:hover {
    background-color: rgba(128, 128, 128, 0.1);
}

.escape {
    border: solid gray 1px;
    font-size: 12px;
    height: fit-content;
    width: 24px;
    padding: 3px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 16%);
}

.button-mobile {
    margin: 10px 10%;
    display: none;
    flex-direction: row;
    justify-content: space-between;
}

.profile-mobile {
    margin: 10px 10%;
    display: none;
    flex-direction: column;
}

.profile-mobile .tab-mobile {
    flex-direction: row;
    display: flex;
}

.button-mobile button {
    flex-grow: 1;
    margin: 0 10px;
}

.divider {
    margin: 0 10%;
    display: none;
}

.buttons {

}



.profile-mobile .sign-out-mobile {
    color: red;
    /*padding: 5px 10px;*/
    font-weight: normal;

}

.profile-container {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 64px;
    right: 3%;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 16%);
    margin: 6px 0;
    border-radius: 10px;
    z-index: 1;
    padding: 12px 0;
}

.profile-container .tab-mobile {
    padding: 10px 20px
}

.tab-mobile.sign-out-mobile {
    color: red;
    font-weight: bold;
}

.profile-container .tab-mobile:hover {
    /*background-color: transparent;*/
}

@media (max-width: 900px) {
    .nav-list {
        display: flex;
    }

    .menu-icon {
        display: flex;
    }

    .tabs {
        display: none;
    }
}

@media (max-width: 700px) {
    .search {
        display: none;
    }

    .search-icon {
        display: flex;
    }
}

@media (max-width: 500px) {
    .button-sign-up {
        display: none;
    }

    .button-mobile, .profile-mobile {
        display: flex;
    }

    .divider {
        display: block;
    }

    .tab-mobile .avatar {
        width: 28px;
        height: 28px;
        font-size: 12px;
    }

    .button-mobile .tab-mobile {
        padding: 12px 10px;
    }
}
