:root {
    --cell-width: 100px;
}
.wordle-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wordle-board {
    display: grid;
    grid-gap: 10px;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    margin-top: 10px;
}

.wordle-board-cell {
    width: var(--cell-width);
    height: var(--cell-width);
    font-size: 80px;
    pointer-events: none;
    font-family: 'Roboto', sans-serif;
    transform-style: preserve-3d;
    position: relative;
    transition: transform 0.5s ease;
}

.wordle-board-cell.is-flipped {
    transform: rotateY(180deg) scaleX(-1);
    transition: transform 0.5s ease, background-color 1s;
}

.wordle-board-cell.correct {
    background-color: #3cb42c;
}

.wordle-board-cell.incorrect {
    background-color: #3F4E61;
}

.wordle-board-cell.wrong-position {
    background-color: #ecc200;
}


.wordle-board-cell.add-text {
    animation: zoom 0.5s;
}

.wordle-control {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wordle-control form {
    display: flex;
    flex-direction: column;
}

.wordle-control form select {
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 5px;
    background-color: transparent;
}

.page-dark-mode .wordle-control form, .page-dark-mode .wordle-control form select {
    color: white;
}

.wordle-control button {
    height: 48px;
    margin: 0 5px;
}

.wordle-keyboard {
}

@media (max-width: 550px) {
    .wordle-board {
        --cell-width: 80px;

    }
    .wordle-board-cell {
        font-size: 60px;
    }
}

@media (max-width: 400px) {
    .wordle-board {
        --cell-width: 60px;
    }
    .wordle-board-cell {
        font-size: 45px;
    }
}

@keyframes zoom {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
