.user-avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin: 10px;
    font-size: 24px;
}

.user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-name {
    max-width: 88px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-info-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.user-tag {
    font-size: 12px;
    font-weight: bold;
}
